body{
  background: Azure;
}

.ticket{
  width : 200px;
  height: 140px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0px 10px 10px 10px;
  box-shadow: 1px 2px 1px .5px black;
  margin: 0 auto;
  background: blanchedalmond;
}

.titulo{
  text-align: center;
}

.datos{
  width:fit-content;
  padding: 10px;
  margin: 0 auto;
  margin-top: -20px;
}